<div class="col-12 align-items-center justify-content-center mt-4" [ngClass]="{'d-none':totalPages<=1}">
  <nav class="d-flex align-items-center justify-content-center">
    <ul class="pagination mb-0" id="pagination">

      <li [ngClass]="{'pag-item':true, 'disabled':currentPage === 0}" [tabindex]="currentPage==0 ? -1 : 1">
        <span (click)="currentPage !== 0 && setPage(currentPage-1)" class="page-link" id="prev"
              aria-label="Previous">
           &laquo;
        </span>
      </li>

      <ng-container *ngIf="currentPage>3 && currentPage<totalPages-4; else FIRST_OR_LAST_ITEMS">
        <!-- FIRST PAGE -->
        <li [ngClass]="{'pag-item':true, 'active':currentPage === 0}">
        <span (click)="setPage(0)" class="page-link text-center">
          1
        </span>
        </li>

        <p class="txt-primary mx-2">...</p>

        <li [ngClass]="{'pag-item':true}">
          <span (click)="setPage(currentPage-1)" class="page-link text-center">
            {{currentPage}}
          </span>
        </li>

        <li [ngClass]="{'pag-item':true, 'active':true}">
          <span (click)="setPage(currentPage)" class="page-link text-center">
            {{currentPage + 1 }}
          </span>
        </li>

        <ng-container>
          <li [ngClass]="{'pag-item':true}">
            <span (click)="setPage(currentPage+1)" class="page-link text-center">
              {{currentPage + 2}}
            </span>
          </li>
        </ng-container>

        <p class="txt-primary mx-2">...</p>

        <!-- LAST PAGE -->
        <li [ngClass]="{'pag-item':true, 'active':currentPage === totalPages-1}">
            <span (click)="setPage(totalPages-1)" class="page-link text-center">
              {{totalPages}}
            </span>
        </li>
      </ng-container>


      <ng-template #FIRST_OR_LAST_ITEMS>
        <ng-container *ngIf="currentPage<=3; else LAST_ITEMS">
          <!-- FIRST PAGE -->
          <li [ngClass]="{'pag-item':true, 'active':currentPage === 0}">
            <span (click)="setPage(0)" class="page-link text-center">
              1
            </span>
          </li>

          <li *ngFor="let page of numRange(1,3)"
              [ngClass]="{'pag-item':true, 'active':currentPage === page}">
            <span (click)="setPage(page)" class="page-link text-center">
              {{page + 1}}
            </span>
          </li>

          <p class="txt-primary mx-2">...</p>

          <!-- LAST PAGE -->
          <li [ngClass]="{'pag-item':true, 'active':currentPage === totalPages-1}">
            <span (click)="setPage(totalPages-1)" class="page-link text-center">
              {{totalPages}}
            </span>
          </li>
        </ng-container>
      </ng-template>

      <ng-template #LAST_ITEMS>
        <!-- FIRST PAGE -->
        <li [ngClass]="{'pag-item':true, 'active':currentPage === 0}">
            <span (click)="setPage(0)" class="page-link text-center">
              1
            </span>
        </li>

        <p class="txt-primary mx-2">...</p>

        <li *ngFor="let page of numRange(totalPages-4,totalPages-2)"
            [ngClass]="{'pag-item':true, 'active':currentPage === page}">
          <span (click)="setPage(page)" class="page-link text-center">
            {{page + 1}}
          </span>
        </li>

        <!-- LAST PAGE -->
        <li [ngClass]="{'pag-item':true, 'active':currentPage === totalPages-1}">
            <span (click)="setPage(totalPages-1)" class="page-link text-center">
              {{totalPages}}
            </span>
        </li>
      </ng-template>


      <li [ngClass]="{'pag-item':true, 'disabled':currentPage === totalPages-1}"
          [tabindex]="currentPage === totalPages-1 ? -1 : 1">
        <span (click)="currentPage !== totalPages-1 && setPage(currentPage+1)" class="page-link" id="next"
              aria-label="Next">
           &raquo;
        </span>
      </li>

    </ul>
  </nav>
</div>
