:host {
  display: flex;
  flex: 1;
}

.no-results {
  color: var(--primary);
  font-size: 24px;
}

.dropdown-item {
  cursor: pointer;
  transition: background-color .3s ease;
}

.dropdown-item:hover {
  background-color: rgba(247, 116, 60, 0.5);
}

.dropdown-limits {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.search-element {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: 8px;
}

.search-element-label {
  font-size: 16px;
}

.search-element::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-btn {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: 8px;
  transition: background-color .3s ease;
}

.search-btn:hover {
  background-color: rgba(247, 116, 60, 0.5);
}



