:host {
  display: flex;
  flex: 1;
}

.relation-artist {
  font-size: 2.3rem;
}

.no-results {
  color: var(--primary);
  font-size: 24px;
}

.relation-artist-search {
  height: 40px;
  font-size: 1.5rem;
}

.search-result{
  font-size: 24px;
  color: white;
}

#graphContainer {
  min-height: 50vh;
}

.current-artist {
  color: #F7743C;
}
