<div class="container-fluid song-container d-flex"
     (mouseenter)="this.hovered=true" (mouseleave)="this.hovered=false"
>
  <div class="row position-relative flex-grow-1 align-content-between">
    <a [href]="song.uri" class="position-absolute play-href" target="_blank">
      <button class="play-btn d-flex align-items-center justify-content-center"
              [ngClass]="{'d-none': !this.hovered}" type="button">
        <fa-icon [icon]="['fas','play']" class="play-icon"></fa-icon>
      </button>
    </a>
    <div class="col-12">
      <h1 class="txt-primary" [ngClass]="{'text-small':song.title.length>20}">{{song.title | titlecase}}</h1>
    </div>
    <div class="col-12">
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col-12">
            <p class="txt-primary">
              <span>{{song.artist | titlecase}}</span>
              <span *ngFor="let coa of song.co_artists; last as isLast; first as isFirst">
                {{isFirst ? 'ft ' : ''}}{{coa | titlecase}}{{isLast ? '' : ','}}
              </span>
            </p>
          </div>
          <div class="col-12">
            <p class="txt-primary">
              {{song.genre | titlecase}}
            </p>
          </div>
          <div class="col-6">
            <p class="txt-primary">
              {{getDate().toDateString() | date:'shortDate'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
