<div class="container-lg mt-4 d-flex">
  <div class="row d-flex flex-grow-1 flex-column">

    <div class="col-12 flex-grow-0">
      <ul class="nav nav-tabs">
        <li class="nav-item tab-item" (click)="navigateTo('/artists/popularity')">
          <a class="nav-link txt-primary" [ngClass]="{'active':currentTab('/artists/popularity')}">Popularity</a>
        </li>
        <li class="nav-item tab-item" (click)="navigateTo('/artists/relations')">
          <a class="nav-link txt-primary" [ngClass]="{'active':currentTab('/artists/relations')}">Relations</a>
        </li>
      </ul>
    </div>
    <div class="col-12 flex-grow-1 d-flex">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

