/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #FFFFFF;
  --secondary: #F7743C;
  --tertiary: #241455;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('/assets/fonts/ReadexPro/ReadexPro-ExtraLight.ttf') format('truetype') font-weight-lighter,
  url('/assets/fonts/ReadexPro/ReadexPro-Light.ttf') format('truetype') font-weight-light,
  url('/assets/fonts/ReadexPro/ReadexPro-Regular.ttf') format('truetype') font-weight-medium,
  url('/assets/fonts/ReadexPro/ReadexPro-Bold.ttf') format('truetype') font-weight-bold;
}

* {
  font-family: 'ReadexPro', sans-serif;
}

.txt-primary {
  color: var(--primary);
}

.txt-primary-faded {
  color: rgba(255, 255, 255, 0.9);
}

.txt-secondary {
  color: var(--secondary);
}

.txt-tertiary {
  color: var(--tertiary);
}

p {
  margin: 0;
}

.outerContainer {
  background: linear-gradient(180deg, rgba(36, 20, 85, 1) 25%, rgba(77, 43, 177, 1) 100%);
  width: 100%;
  min-height: 100vh;
}

#particlesContainer {
  width: 100%;
  height: 100%;
}

input:focus {
  border-color: var(--secondary) !important;
  box-shadow: 0 0 0 0.15rem rgba(247, 116, 60, 0.25) !important;
}

button:focus {
  border-color: var(--secondary) !important;
  box-shadow: 0 0 0 0.15rem rgba(247, 116, 60, 0.25) !important;
}
